extends layout 

block main
  - let winner = game.winnerWinner
  header
    h1 #{game.yieldName(winner)} is the winner!!

  - let ranking = game.findRanking();

  each player in ranking
    p player #{game.yieldName(player[0])} scores total #{player[1]}

  footer
    a(href="/") PLAY ANOTHER GAME
          
