extends layout

block main
  header
    h1 Play round! #{game.currentHand}

  section  
    form(action="/gets" method="get")
      p Ready to Enter gets?
      fieldset.actions
        input(type="submit" value="Enter gets")